@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #000;
    flex-direction: column;
}

h1{
    font-size: 15vw;
}