.timer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  flex-direction: column;
  &.animate{
    animation: anims .1s linear infinite;
  }
}


@keyframes anims {
  0% {
    background: white;
    color: black;
  }
  100% {
    background: black;
    color: white;
  }
}