@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Caveat', cursive;
  user-select: none;
  color: white;
}